<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="databaseName" value="GD_Web" />
        <add key="filePath" value="GD-Web" />
        <add key="serverName" value="127.0.0.1"/>
        <add key="jwt_key" value="THIS IS USED TO SIGN AND VERIFY JWT TOKENS, REPLACE IT WITH YOUR OWN SECRET, IT CAN BE ANY STRING" />
        <add key="jwt_issuer" value="MySite.com" />
    </appSettings>
</configuration>