@page
@model GDApiModel

@{
    ViewData["SubSection"] = "gdapi";
    ViewData["Title"] = "levels";
    Layout = "Shared/HeaderTabControl";

    ViewData["TabControl"] = new List<TabControlObject>();
}

<h1>@Model.LevelTitle</h1>

<h3>@Model.LevelDescription</h3>

<p>@Model.LevelObjects</p>    