@page "/gdapi"
@*Until we figure out why the fuck it isn't pulling the references from GDE.Web.Backside, this will be the temporary solution.*@
@using GDAPI.Objects.GeometryDash.General
@using GDAPI.Objects.GeometryDash.LevelObjects

<h1>@LevelTitle</h1>

<h3>@LevelDescription</h3>

<p>@LevelObjects</p>

@code 
{
    string LevelTitle;
    string LevelDescription;
    string LevelObjects;

    protected override void OnInit()
    {
        var level = new Level
        {
            Name = "Web test level",
            Description = "Level test for the web!",
            LevelObjects = new LevelObjectCollection()
        };
        
        for (int i = 0; i < 32; i++)
        {
            level.LevelObjects.Add(new GeneralObject(1, i * 30, i * 30));
        }

        LevelTitle = level.Name;
        LevelDescription = level.Description;

        //This should work, but apparently it does not
        LevelObjects = $"This has {level.ObjectCount} Objects with a length of {level.TimeLength:m\\:ss} ({level.Length})";
    }

}