.project_view-background-container {
    margin: -10px -15px;
    margin-bottom: 10px;
}

.project_view-background-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.project_view-overlay {
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: 0;
    background-image: linear-gradient(180deg, transparent, hsla(var(--currentHue), 20%, 10%, .5));
}

.project_view-background-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}

.project_view-time {
    border-radius: 4px;
    font-size: 10px;
    padding: 5px 10px;
    background-color: hsla(var(--currentHue), 20%, 10%, .5);
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
}

.project_view-main {
    text-shadow: 0 1px 3px rgba(0,0,0,.75);
    margin-top: auto;
}

.project_view_main-title {
    font-size: 24px;
}

.project_view_main-author {
    font-size: 14px;
    font-weight: 400;
}

.project_view-container h1 {
    border-bottom: 3px solid var(--darkHue);
}

.project_view-container a {
    color: hsl(var(--currentHue), 40%, 70%);
}

.project_view-container a:hover {
    color: hsl(var(--currentHue), 40%, 60%);
    text-decoration: underline;
}

.editor-colors div {
    background-color: var(--d6) !important;
    color: white !important;
}

.editor-colors pre {
    color: white !important;
    filter: contrast(60%) brightness(160%) saturate(190%);
}

.project_view-btn-big {
    border-radius: 50px;
    min-width: 50px;
    font-size: 20px;
    margin-left: 10px;
}

span[style="color:Blue;"] {
    color: var(--pureHue) !important;
}