@page
@using GDE.Web.Data.Projects
@model ProjectsModel

@{
    Layout = "Shared/HeaderBreadcrumbControl";
    
    ViewData["SubSection"] = "projects";
    ViewData["Title"] = "community";
    ViewData["ReturnPath"] = "/community/projects";
    
    ViewData["Breadcrumbs"] = new List<TabControlObject>
    {
        new TabControlObject("Index", ViewData["ReturnPath"].ToString()),
    };
}

<link rel="stylesheet" href="~/css/Community/ProjectsListing.css">
<div class="project_page-container">
    <link rel="stylesheet" href="~/css/Community/Card.css">
    <div class="project_cards">
            @{
                TempDatabase.ProjectDatas.ForEach(async data =>
                {
                    await Html.RenderPartialAsync("ProjectCard", data);
                });
            }
    </div>
</div>